@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	
}

.container{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* The hero section */
.hero{
	min-height:80vh;
	width: 100%;
	padding-top: 50px;
	justify-content: center;
	background-color: black; 
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
    font-size: 13px;
}

.hero .hero-info{
	width: 100%;
	text-align: center;
}
.hero .hero-info .hero-info-heading{
	font size: 10rem;
	font-weight: 700;
	color: white;

}

.hero .hero-info .hero-info-subheading {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	color: whitesmoke;
}

.hero .hero-info .hero-info-button{
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 2rem 5rem;
	display: inline-block;
	font-size: 1.5 rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	letter-spacing: 0.6rem;
	background-color: #383838;


}
.hero .hero-img{
	height: auto;
	max-width: 80%;
	margin-top: 3rem;
}

.hero .hero-img img{
		width: 100%;
		height: 100%;
		border-radius:10px;

}

/* The hero section */

/*About section*/
.about{
	width: 100%;
	min-width: 50vh;
	padding: 10rem 5rem;
	flex-direction: column;

}
.about .about-info{
    text-align: center;
}
.about .about-info .about-info-heading{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: black;
}

.about .about-info .about-info-desc{
	font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;
}
.about .about-info .about-info-button{
	padding:1.6rem 2.6rem;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.548);
	color: whitesmoke;
	text-decoration:none; 
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 20px;
	margin-bottom: 20px;	

}

.about .about-img .about-img-wrapper{
	margin-top: 30px;
	height: auto;
	max-width: 400px;
	position: relative;
	display: inline-block;
}

.about .about-img .img-img-wrapper img{
	height: 100%;
	width: 100%;
}
/* End About section*/

 /* service section */
 .services{
 	flex-direction: column;
 	min-height: 60vh
 	padding:10 rem 5rem;
 }
 .services .services-header{
 	width: 100%;
 	text-align: center;
 }

 /*  end service section */